html {
  background-color: #121212;
}


button {
  cursor: pointer;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  background-color: #26c5d0;
  color: #25252a;
  border: none;
  outline: none;
  font-family: arial;
  font-size: 2em;
  padding: 10px;
  transition: 0.1s;

}
button:hover {
  transform: scale(1.01);
}
button:active {
  transform: scale(0.98);
}

label {
  color: #AAA;
  display: block;
}

div.UI {
  display: inline-block;
}

input[type=range]  {
  cursor: pointer;
}

canvas {
  background-color: #232323;
  display: block;
}
